@using Microsoft.AspNetCore.Components.Authorization
@namespace NorthWind.Membership.Frontend.RazorViews.Components

<AuthorizeView>
    <Authorized>
        <a href="/user/logout">Cerrar Sesión</a>
    </Authorized>
    <NotAuthorized>
        <a href="/user/register">Crear cuenta</a>
        <a href="/user/login">Iniciar Sesión</a>
    </NotAuthorized>
</AuthorizeView>
